﻿@model WebApplication1.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubmitData", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(); // shows all the validation messages together
            <p>First name : </p>@Html.TextBox("FirstName") <br />
            @Html.ValidationMessage("FirstName")<br />
            @*@Html.TextBoxFor(x=>x.FirstName)  //strongly binded version *@
            <p>Last Name : </p>@Html.TextBox("LastName") <br />
            @Html.ValidationMessage("LastName")<br />
            <p>Email : </p>@Html.TextBox("Email") <br />
            @Html.ValidationMessage("Email")<br />
            <p>Age : </p>@Html.Editor("Age") <br />
            @Html.ValidationMessage("Age")<br />
            <input type="submit" value="Submit" />
        }

    </div>
</body>
</html>
