﻿@model IEnumerable<WebApplication1.Models.Employee>
@{
    ViewBag.Title = "Index";
    int n = 10;
}

<h2>Index</h2>

@foreach (var item in Model)
{
    // @Html.Partial("viewName")
    @Html.Partial("_Card", item)
    <br />
}
<hr />
