﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .col-8 {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            text-decoration: none;
        }
        .navbar-brand {
            color: white;
            font-weight: 800;
            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
            letter-spacing: .2rem;
            text-decoration: none;
            font-size: 469%;
        }
        header {
            background-color: transparent;
            justify-content: center;
            display: flex;
            height: 18vh;
        }
        a {
            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
        }
        a:hover{
            color:rgb(255, 0, 0);
        }
        .nav-link {
            text-decoration: none;
        }
        .navbar-nav{
            list-style-type:none;
        }
        .nav-item{
            display:inline;
            margin-left:2rem;
        }
        body {
            background-image: url("/Content/Images/bg1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: auto;
            overflow: hidden;
            height: 100vh;

            @*background-color:cornflowerblue;
            *@
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <header><a class="navbar-brand" href="#">GhostHub</a></header>
        <div class="col-8" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/AddPlayer">Add Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/ShowPlayer">Show Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/DeletePlayer">Delete Player</a>
                </li>
            </ul>
        </div>
        <div class="col-3 text-white">
            @ViewBag.Message
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            @*<div class="col-2 text-white" style="background-color:#fa8405; padding:0px">
                <div class="list-group">
                    @RenderSection("SideBarOptions", required: false)
                </div>
            </div>*@
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>




