﻿@model ConventionalRouting.Models.Student

@{
    Layout = null;
}


@*It never shows ID as it thinks that ID is assigned for database!*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStudents</title>
</head>
<body>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>
    
        </dl>
    </div>
</body>
</html>
