﻿@model WebApplicationUsingJQuery1.Models.Employee
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*loader in AJAX*@
<div id="loader" style="display:none">
    <img src="~/Content/Images/loader.gif" height="100"/>
</div>


@using (Ajax.BeginForm("Index", new AjaxOptions()
{
    OnSuccess = "fnSuccess",
    OnFailure = "fnFailure",
    HttpMethod = "POST",
    LoadingElementId="loader",
    LoadingElementDuration=2000  @*sets the duration of animation after submit here in this cbase*@
}))

{
<div>
    @Html.EditorFor(x => x.FirstName)<br /><br />
    @Html.EditorFor(x => x.LastName)<br /><br />
    @Html.EditorFor(x => x.Email )<br /><br />
    <input type="submit" value="Submit"/>
</div>
}

<script>
    function fnSuccess(data) {
        console.log(data);
        alert("Hello from success");
    }
    function fnFailure(err) {
        console.error(err);
        alert("hello form error");
    }
</script>