﻿
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


@Ajax.ActionLink("Countries", "Countries", new AjaxOptions()
{
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="list-container",
    LoadingElementId="loader"
})
@Ajax.ActionLink("States", "States", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list-container",
    LoadingElementId="loader"
})
@Ajax.ActionLink("City", "City", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list-container",
    LoadingElementId="loader"
})

@*loader in AJAX*@
<div id="loader" style="display:none">
    <img src="~/Content/Images/loader.gif" height="100"/>
</div>

<div id="list-container">
    
</div>