﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello, I am from Employee Controller's Index Action Method!</h1>
    </div>
</body>
</html>
