﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is Index Page!</h1>
    </div>
    <div>
        @* single line syntax *@
        Today's Date : @DateTime.Now
        <br>
        Future Date : @DateTime.Now.AddDays(10)
    </div>
    <div>
        @*multiline syntax*@
        @{
            var a = 3;
            var b = 4;
            var c = 5;
            var d = a * b * c;
            var d1 = DateTime.Now;
            var d2 = DateTime.Now.AddDays(10);
            var res = Convert.ToString(d2 - d1);
            var colors = new List<string>() { "Red", "Blue", "Green", "Yellow", "Purple" };
        }
        Result = @d
        <br />
        Difference between date = @res.Substring(0, res.IndexOf(".")) Days<br />    
    </div>
    <div>
        @{ 
            foreach(var i in colors)
            {
                <br>@i
            }
        }
    </div>
    <label><strong>pranshu.gupta@unthinkable.co</strong></label>
    <br>
    <label><strong>Instagram page - @@ghost_._gaming</strong></label>
</body>
</html>
