﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDate</title>
</head>
<body>
    <div> 
        <h1>Hello from GetDate!</h1>
        <h2>Date Time is : @DateTime.Now</h2>
        <a href="/Home/GetDate">Click Me</a>
    </div>
</body>
</html>
