﻿@*
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

// Normal way - duplicacy
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployee</title>
</head>
<body>
    <header style="height:200px; background-color:aquamarine">
        <h2>This is Header</h2>
    </header>

    <div>
        <h1>This is my Add Employee Page!</h1>
    </div>

    <footer style="height:200px; background-color:aquamarine">
        <h2>This is Footer</h2>
    </footer>
</body>
</html>

*@

@*Layout way - less code due to common part*@

<h1>This is my Add Employee Page!</h1>


