﻿@model WebAppUsingList.Models.Player
@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>

        body {
            color: whitesmoke;
            font-size: larger;
            font-family: Copperplate, Papyrus, fantasy;
        }


        .head_container {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_link {
            display: flex;
            justify-content: space-around;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_form {
            display: flex;
            justify-content: center;
            font-size: large;
            overflow: auto;
        }

        table th, td {
            font-size: large;
        }

        input {
            font-size: large;
        }

        button {
            font-size: large;
            border-radius: 5px;
        }
        td{
            display:flex;
            align-items:center;
            justify-content:flex-start;
            flex-direction:row;
        }
        tbody {
            height: 60vh;
            display: inline-block;
            width: 100%;
            overflow-y: auto;
            
            overflow-x:hidden;
        }
        
    </style>
</head>
<body>
    <div class="head_container_form">
        @using (Html.BeginForm("AddPlayer", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
        <table cellpadding="0" cellspacing="1">

            <tbody>
                <tr>
                    <td><br />PlayerID: </td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td><br />PlayerName:&nbsp;&nbsp;</td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td><br />Game: </td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.Game, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Game, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td><br />IGN: </td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.IGN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.IGN, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td><br />Organisation: </td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.Organisation, new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(x => x.Organisation, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td><br />Role: </td>
                    <td>
                        <br />
                        @Html.EditorFor(x => x.Role, new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(x => x.Role, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>Upload Photo:<br />
                    </td>
                    <td>
                        <br />
                        @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @multiple = "multiple" })
                        @Html.ValidationMessageFor(x => x.Files, "", new { @class = "text-danger" })
                        @ViewBag.UploadStatus
                        <br />
                        <br /><span><button type="submit">Submit</button></span>

                    </td>
                </tr>
            </tbody>
        </table>
        }
    </div>

</body>
</html>