﻿@model WebAppUsingList.Models.Player
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteEmployee</title>
    <style>
        body {
            background-color: lightgrey;
            color: black;
        }
        span {
            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
            font-size: 5vh;
        }
        h4{
            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
            text-align:center;
            font-size: 5vh;
            letter-spacing:.2rem;
        }
        label {
            color: blue;
            font-size: large;
        }

        a {
            font-size: large;
        }

        .head_container {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_link {
            display: flex;
            justify-content: space-between;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .head_container_form{
            margin-left:5%;
        }
        .form_button {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        input {
            border-radius: .5rem;
            height: 5vh;
            width: 35%;
            font-family: Copperplate, Papyrus, fantasy;
            font-size:100%;
            letter-spacing:.2rem;
            text-align:center;
        }
        input:hover {
            border-radius: .5rem;
            height: 5vh;
            width: 35%;
            font-family: Copperplate, Papyrus, fantasy;
            color:snow;
            font-size: 100%;
            background-color:#222;
            letter-spacing: .2rem;
            text-align: center;
        }
        button {
            border-radius: .5rem;
            height: 5vh;
            width: 35%;
            font-family: Copperplate, Papyrus, fantasy;
            font-size: 100%;
            letter-spacing: .2rem;
            text-align: center;
            background-color:greenyellow;
        }
        button:hover {
            border-radius: .5rem;
            height: 5vh;
            width: 35%;
            font-family: Copperplate, Papyrus, fantasy;
            font-size: 100%;
            letter-spacing: .2rem;
            text-align: center;
            color: snow;
            background-color: rgb(255,0,0);
        }
    </style>
</head>
<body>

    <div class="head_container_form">
        @using (Html.BeginForm("DeletePlayer", "Home", FormMethod.Post))
        {
            <br /><br /><br />
            <span>Enter PlayerID To Delete: </span><br /><br />
            @Html.TextBox("Id");<br /><br />
            <button type="submit">Submit</button>
        }
    </div>
    <div>
        <br />
        <h4>@ViewBag.Message</h4>
    </div>
    <br />
    @*@section SideBarOptions{
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/AddPlayer">Add Player</a>
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/EditFlag">Edit Player</a>
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/DeletePlayer">Delete Player</a>
    }*@

</body>
</html>
