﻿@model WebAppUsingList.Models.Player

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditDetails</title>
    <style>
        body {
            color: whitesmoke;
            font-size: larger;
            font-family: Copperplate, Papyrus, fantasy;
        }

        label {
            color: snow;
            font-size: large;
            text-align: left;
        }

        .head_container {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_link {
            display: flex;
            justify-content: space-around;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_form {
            display: flex;
            justify-content: left;
            font-size: large;
            padding-left:5%;
            overflow: auto;
        }
        table{
            display:flex;
        }
        table th, td {
            font-size: large;
        }

        input {
            font-size: large;
            width: 60%;
            margin-left:2rem;
            height:3vh;
            border-radius:1rem;
            text-align:center;
        }

        button {
            font-size: large;
            border-radius: 5px;
        }

        td {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
        }

        tbody {
            height: 60vh;
            display: inline-block;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
    </style>
</head>
<body>
    <div class="head_container_form">
        @using (Html.BeginForm("EditDetails", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <br /><br /><br /><br />
            <table cellpadding="0" cellspacing="1">
                <tbody>
                    <tr>
                        <td>
                            <br />
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <br />
                            
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>

                    <tr>

                        <td>
                            <br />
                            @Html.LabelFor(model => model.Game, htmlAttributes: new { @class = "control-label col-md-2" })
                            <br />
                            @Html.EditorFor(model => model.Game, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Game, "", new { @class = "text-danger" })
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>

                    <tr>

                        <td>
                            <br />
                            @Html.LabelFor(model => model.IGN, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.IGN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IGN, "", new { @class = "text-danger" })
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <br />
                            @Html.LabelFor(model => model.Organisation, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.Organisation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Organisation, "", new { @class = "text-danger" })
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <br />
                            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <br />
                            <span> <input type="submit" value="Save" class="saveButton" /></span>

                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
 
</body>
</html>
