﻿<head>
    <style>
        .head_container_form {
            display: flex;
            justify-content: center;
            font-size: large;
        }

        h3 {
            margin-left: 30%;
        }
    </style>
</head>

<body>
    <div class="head_container_form">
        @using (Html.BeginForm("EditFlag", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                </tr>
                <tr>
                    <td>
                        @Html.Editor("id")
                    </td>
                    <td>
                        <input type="submit" name="Submit" />
                    </td>
                </tr>
            </table>
        }

    </div>
    <h3>@ViewBag.response</h3>

</body>