﻿<head>
    <style>
        body {
            background-color: lightgray;
        }

        .title{

            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
            font-size:15vh;
            padding-left:4.5%;
            letter-spacing:.4rem;

        }

        .Container {
            display: flex;
            justify-content: space-around;
        }

    </style>
</head>
<body>
    <div class="imgContainer">
        <br />
        <br />
        <span class="title">Players</span>
        <br />
        <span class="title">Management</span>
        <br />
        <span class="title">System</span>
    </div>
</body>
