﻿@model WebAppUsingList.Models.Player
<html>
<head>
    <style>
        body {
            background-color: lightgrey;
            color: black;
        }

        @*h1 {
            margin-left: 50%;
            font-family: Copperplate, Papyrus, fantasy;
            color: snow;
        }*@

        .head_container {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_link {
            display: flex;
            justify-content: space-around;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_form {
            @*display: flex;
            flex-flow: row nowrap;
            justify-content: center;*@
            margin-left:4.5%;
            font-size: large;
            
        }

        table, th, td {
            border: 2px solid black;
            font-size: large;
            text-align: center;
            padding: 10px;
            color: snow;
            border-color: mistyrose;
            font-family:'Arial';
        }
        tbody {
            height: 60vh;
            display: inline-block;
            width: 100%;
            overflow: auto;
        }
        
    </style>
</head>
<body>
    @*<h1>Details</h1>*@
    <br />
    <br>
    <div class="head_container_form">

        <table>    
            <tbody>
                <tr>
                    <th>&nbsp;Id&nbsp;</th>
                    <th>&nbsp;Name&nbsp;</th>
                    <th>&nbsp;Game&nbsp;</th>
                    <th>&nbsp;IGN&nbsp;</th>
                    <th>&nbsp;Organisation&nbsp;</th>
                    <th>&nbsp;Role&nbsp;</th>
                    <th>&nbsp;Image&nbsp;</th>
                    <th>&nbsp;Edit&nbsp;</th>
                </tr>
            
                @foreach (var item in ViewBag.List)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Game</td>
                        <td>@item.IGN</td>
                        <td>@item.Organisation</td>
                        <td>@item.Role</td>
                        <td><img src=@Url.Content(item.ImgPath) alt="@(item.Name)'s Image" width="100"></td>
                        <td>@Html.ActionLink("Click here", "EditFlag", "Home", new { id = item.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    @*@section SideBarOptions{
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/AddPlayer">Add Player</a>
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/EditFlag">Edit Player</a>
        <a class="list-group-item text-white" style="background-color:transparent" href="/Home/DeletePlayer">Delete Player</a>
    }*@
</body>
</html>