﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
     
 </head>
<body>
    <div>
        <h2>using static class and static method -</h2>
        @CustomHelper.Image("https://th.bing.com/th/id/OIP.5lOuo1egoUr3EXw3dbcGrAHaI4?w=150&h=180&c=7&r=0&o=5&pid=1.7", "Robert Drowne Jr.")
        <h3>Robert Drowney Jr</h3>
        <br />
        <br />
        @*using custom extension method - *@
        <h2>Extension Method</h2>
        @Html.Img("https://th.bing.com/th/id/OIP.5lOuo1egoUr3EXw3dbcGrAHaI4?w=150&h=180&c=7&r=0&o=5&pid=1.7", "Robert Drowne Jr.")
        <h3>Robert Drowney Jr</h3>
        <br />
        <br />
        @*tag builder method - *@
        <h2>TagBuilder method - </h2>
        @Html.ImgTag("https://th.bing.com/th/id/OIP.5lOuo1egoUr3EXw3dbcGrAHaI4?w=150&h=180&c=7&r=0&o=5&pid=1.7", "Robert Drowne Jr.")
        <h3>Robert Drowney Jr</h3>
    </div>
</body>
</html>
