﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.6.0.js"></script>

</head>
<body>
    @*posting data using AJAX*@
    <div class="form">
        <input type="number" placeholder="ID" id="formstdId" /><br />
        <input type="text" placeholder="Name" id="formstdName" /><br />
        <input type="email" placeholder="Email" id="formstdEmail" /><br />
        <input type="button" value="Send data" onclick="BtnClick3()" /><br />
    </div>
    @*posting data using AJAX block ends*@
    <div>
        <h1>Hello from index!</h1>
        <div class="div1">
            <span>ID</span> - <span id="stdId"></span>
            <br />
            <span>Name</span> - <span id="stdName"></span>
            <br />
            <span>Email</span> - <span id="stdEmail"></span>
            <br />
        </div>

        <input type="button" onclick="BtnClick2()" value="Click!" />
        <br />
        <input type="text" id="txtBox" />
        <label id="lb1"></label>
        <input type="button" onclick="BtnClick()" value="Click Me!" />
    </div>
</body>
</html>

<script>
    @*used for demonstration that how jQuery works!*@
    @*$(document).ready(function () {
        alert("DOM is ready");
        $("#lb1").text("Updated from jQuery");
    });*@
    function BtnClick() {
        @*var value = $(".classname").val();  gets the value by class*@
        @*var value = $("#idname").val();  gets the value by id*@
        var value = $("#txtBox").val();
        $("#lb1").text(value);
    }
    function BtnClick2() {
        @*using ajax expression!*@
        @*used for asysnchronous*@
        $.ajax({
            url: "/Home/GetStudent",
            method: "GET",
            success: function (data) {
                console.log(data); // string  :  {"Id":1,"Name":"firstName lastName","Email":"email@gmail.com"}
                data = JSON.parse(data);
                $("#stdId").text(data.Id);
                $("#stdName").text(data.Name);
                $("#stdEmail").text(data.Email);
                console.log(data); // Json : {Id: 1, Name: 'firstName lastName', Email: 'email@gmail.com'}
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
    @*taking the values from input*@ 
    function BtnClick3() {
        var id = $("#formstdId").val();
        var name = $("#formstdName").val();
        var email = $("#formstdEmail").val();

        var obj = {
            Id: id,
            Name: name,
            Email: email
        }
        SubmitForm(obj);
    }

    @*receiving object from BtnClick2 function*@
    function SubmitForm(obj) {
        @* using ajax expression! *@
        @* used for asysnchronous *@
            $.ajax({
                url: "/Home/AddStudent",
                method: "POST",
                data: obj,
                success: function (data) {
                    console.log(data); // string  :  {"Id":1,"Name":"firstName lastName","Email":"email@gmail.com"}
                    data = JSON.parse(data);
                    $("#formstdId").text(data.Id);
                    $("#formstdName").text(data.Name);
                    $("#formstdEmail").text(data.Email);
                    console.log(data); // Json : {Id: 1, Name: 'firstName lastName', Email: 'email@gmail.com'}
                },
                error: function (err) { 
                    console.log(err);
                }
            })
    }
</script>
