﻿@model DataFromViewToController.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*PostUsingParameters*@
        <section>
            <center><h3>PostUsingParameters</h3></center>
            @*using(Html.BeginForm("ActionMethodName", "Controller's Name'"))*@
            @using (Html.BeginForm("PostUsingParameters", "Home"))
            {
                <p>First Name : </p><input type="text" name="firstName" /> <br />
                <p>Last Name : </p><input type="text" name="lastName" /> <br />
                <br />
                <input type="submit" value="Submit" />
            }
            <br />
        </section>

        @*GetUsingParameters*@
        <section>
            <center><h3>GetUsingParameters</h3></center>
            @*using(Html.BeginForm("ActionMethodName", "Controller's Name'"))*@
            @using (Html.BeginForm("GetUsingParameters", "Home", FormMethod.Get))
            {
                <p>First Name : </p><input type="text" name="firstName" /> <br />
                <p>Last Name : </p><input type="text" name="lastName" /> <br />
                <br />
                <input type="submit" value="Submit" />
            }
            <br />
        </section>

        <hr />

        @*PostUsingRequest*@
        <section>
            <center><h3>PostUsingRequest</h3></center>
            @*using(Html.BeginForm("ActionMethodName", "Controller's Name'"))*@
            @using (Html.BeginForm("PostUsingRequest", "Home"))
            {
                <p>First Name : </p><input type="text" name="firstName" /> <br />
                <p>Last Name : </p><input type="text" name="lastName" /> <br />
                <br />
                <input type="submit" value="Submit" />
            }
            <br />
        </section>

        <hr />

        @*PostUsingFormCollection*@
        <section>
            <center><h3>PostUsingFormCollection</h3></center>
            @*using(Html.BeginForm("ActionMethodName", "Controller's Name'"))*@
            @using (Html.BeginForm("PostUsingFormCollection", "Home"))
            {
                <p>First Name : </p><input type="text" name="firstName" /> <br />
                <p>Last Name : </p><input type="text" name="lastName" /> <br />
                <br />
                <input type="submit" value="Submit" />
            }
            <br />
        </section>

        <hr />

        @*PostUsingBinding*@
        <section>
            <center><h3>PostUsingBinding</h3></center>
            @*using(Html.BeginForm("ActionMethodName", "Controller's Name'"))*@
            @using (Html.BeginForm("PostUsingBinding", "Home"))
            {
                <p>First Name : </p>
                @Html.TextBoxFor(x => x.FirstName)<br />

                <p>Last Name : </p>
                @Html.TextBoxFor(x => x.LastName)<br />
                <br />
                <input type="submit" value="Submit" />
            }
            <br />
        </section>
    </div>
</body>
</html>
