﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This is Index Page!</h1>
        @*Html.ActionLink(text, ViewName, ControllerName) - different Controller*@
        @*Html.ActionLink(text, ViewName) SameController*@
        @Html.ActionLink("Click me - (Student->Index)", "Index", "Student")
        <br />
        @*sending parameters!*@
        @Html.ActionLink("Click me - (Home->About)", "About", new { name = "Pranshu" })
    </div>
    <br />
    <br />
    <div>
        textbox : @Html.TextBox("txtBox1")
        @*@Html.TextBox("NameAndID")*@
        <br />
        <br />
        password : @Html.Password("MyPassword")
        <br />
        <br />
        textbox with byDeafult value : @Html.TextBox("txtBox2", "Enter text here...")
        @*@Html.TextBox("NameAndID", text to be shown byDefault)*@
        <br />
        <br />
        textbox with customID : @Html.TextBox("txtBox3", "Enter text here", new { id = "ID", @class = "myCustomClass", style = "width:100px" })
        @*custom id-syntax*@
        <br />
        checkbox : @Html.CheckBox("CheckBox1")
        @*Html.CheckBox("Name/ID")*@
        <br />
        checkbox with default value as true : @Html.CheckBox("CheckBox1", true)
        @*Html.CheckBox("Name/ID", defaultValue)*@

        @*
        @Html.BeginForm()
        {
            //code
        }
        *@
    </div>
</body>
</html>
