﻿@model WebApplication4.Models.Employee
@* using models in cshtml*@
@* projectname.Models.modelname *@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Index</title>
    <style>
        table {
            background-color: bisque;
            border-collapse: collapse;
        }
        td{
            padding:5px;
        }
    </style>
    
</head>
<body>
    <div>
        <h1>
            This is index of HomeController!
        </h1>
    </div>
    <div>
        <table border="1" >
            <tbody>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        @Model.Id
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                        @Model.Country
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
