﻿@model CustomValidationSample.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.EditorFor(x => x.Name)<br />
            @Html.EditorFor(x => x.Message)<br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
