﻿
@{
    ViewBag.Title = "CustomErrors";
}

<h2>CustomErrors</h2>
<br />
<h2>Custom Error Message - Demo for HandleError CustomErrors</h2>
<br />
<h1>Oops! Something went wrong!   :(</h1>

<h3>
    To show CustomErrors ->
    Make a Custom Error View in Shared Folder
    Add the following line in WebConfig:<br />
    GlobalFilters.Filters.Add(new HandleErrorAttribute(){ View="CustomErrors"});    
</h3>
