﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div>
        <h1>This is home controller's ContactUs Page.</h1>
        <div>
            <strong>Navigation links - </strong>
            <br />
            <a href="/Home/Index">Index</a>
            <br />
            <a href="/Home/About">About</a>
        </div>
    </div>
</body>
</html>
