﻿@model WebApplication1.Models.Employee
<div class="row" style="border:solid 2px">
    <div class="col-lg-6">
        <h2>Name - @Model.Name</h2>
        <p>ID - @Model.Id</p>
        <p>Email - @Model.Email</p>
        
    </div> 
    <div class="col-lg-6">
        <p>
            Description -  @Model.Description
        </p>
    </div>
</div>