﻿@using WebApplication1.Models;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h3>
            @ViewData["Key"]
        </h3>
        <div>
            <ul>
                @foreach(var item in (List<string>)ViewData["MyList"])
                {
                   <li>@item</li>
                }
            </ul>
            
            <ul>
                @foreach (var item in ViewData["empList"] as IList<Employee>)
                {
                    <li>
                        ID - @item.Id,    Name-@item.Name,    Email-@item.Email
                    </li>
                }
            </ul>
 
        </div>
       
    </div>
</body>
</html>
