﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.MyCustomProperty</h2>
        <div>
            <ul>
                @foreach (var item in ViewBag.MyList)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
        <dix>
            <ul>
                @foreach (var item in ViewBag.empList)
                {
                    <li>
                        ID - @item.Id,    Name-@item.Name,    Email-@item.Email   
                    </li>
                }
            </ul>
        </dix>
    </div>
</body>
</html>
