﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="background-color:burlywood; font-size:5rem; font-family:'Comic Sans MS'">This is the Header of Layout</header>
    <div>
        
        @RenderBody()
    </div>
    <footer style="background-color:crimson; font-size:5rem; font-family:'Comic Sans MS'">This is the Header of Layout</footer>
</body>
</html>
