﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        This is a demo website to tell about the Competative Players of India in BGMI.
    </div>
    <div>
        <h3>Navigation Links :</h3>
        <a href="/Home/Index">Index</a>
        <a href="/Home/ContactUs">ContactUs</a>
    </div>
</body>
</html>
