﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div>
        If you want to contact then approach for these -> 
    </div>
 
    <div>
        <h3>Navigation Links :</h3>
        <a href="/Home/Index">Index</a>
        <br>
        <a href="/Home/About">About</a>
    </div>
</body>
</html>
