﻿@using practiceApp.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="Heading">
        <h1>Competative Players of India in BGMI</h1>
    </div>
    <div class="Godlike">
        @{
            @*how to make the structure of objects so that we can display them Dynamically!*@
            Player God_p1 = new Player() { Id = 1, IGN = "GodLxJONATHAN", org = "Godlike Esports", playingStyle = "Thumb+Gyro", role = "Assaulter" };
            Player God_p2 = new Player() { Id = 2, IGN = "GodLxCLUTCHGOD", org = "Godlike Esports", playingStyle = "Claw+Gyro", role = "IGL" };
            Player God_p3 = new Player() { Id = 3, IGN = "GodLxNEYOOO", org = "Godlike Esports", playingStyle = "Claw+Gyro", role = "Assaulter" };
            Player God_p4 = new Player() { Id = 4, IGN = "GodLxZGOD", org = "Godlike Esports", playingStyle = "Claw+Gyro", role = "Support" };
            
        }
    </div>
    <div class="IND">
        @{
            Player Ind_p1 = new Player() { Id = 1, IGN = "PVxINDSnaxx", org = "Insidious Esports", playingStyle = "Claw+Gyro", role = "Assaulter, Sniper" };
            Player Ind_p2 = new Player() { Id = 2, IGN = "PVxINDSlayer", org = "Insidious Esports", playingStyle = "Claw+Gyro", role = "Sniper, IGL" };
            Player Ind_p3 = new Player() { Id = 3, IGN = "PVxINDKratos", org = "Insidious Esports", playingStyle = "Claw+Gyro", role = "IGL" };
            Player Ind_p4 = new Player() { Id = 4, IGN = "PVxINDDaljit", org = "Insidious Esports", playingStyle = "Claw+Gyro", role = "Sniper" };
        }
    </div>
    <div>
        <h3>Navigation Links :</h3>
        <a href="/Home/About">About</a>
        <a href="/Home/ContactUs">ContactUs</a>
    </div>
</body>
</html>
