﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @helper MyHelper(string[] arr)
        {
            <ul>
                @foreach (var item in arr)
                {
                    <li>@item</li>
                }
            </ul>
        }
    </div>
    <div>
        <label>Example 1 :  Name List -</label>
        <div>
            @MyHelper(new string[] { "SWGxGHOST", "SWGxVEGETO", "SWGxAfterLife", "SWGxHunter", "SWGxDarkOP" })
        </div>
    </div>
    <div>
        <label>Example 2 : Roles -</label>
        <div>
            @MyHelper(new string[] { "Assaulter", "Support", "Sniper", "Assaulter", "IGL" })
        </div>
    </div>
    <div>
        <label>Example 3 : Empty List -</label>
        <div>
            @MyHelper(new string[] { })
        </div>
    </div>
</body>
</html>
