﻿@model EFDbFirstApproachExample.Models.Product
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <style>

        button{
            border-radius:.5rem;
        }
    </style>
</head>

    <h2>Delete Product</h2>
    <hr />
    <form action="/products/delete/@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Product Name : </label>
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            @Model.ProductName
        </div>
        <hr />
        <div class="form-group col-md-6">
            <label for="Price">Price: </label>
            @String.Format("Rs " + Convert.ToString(Model.Price) + "/-")
        </div>
        <hr />
    </div>
    <br />
    <strong>Are you sure to delete this Product?</strong>
    <br />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-danger" href="/products/index">Cancel</a>

    </form>


