﻿@*to make it strongly typed!*@
@model EFDbFirstApproachExample.Models.Product 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>
<hr />
<table class="table">
    <tr>
        <th>Product ID</th>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Product Price</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>Date of Purchase</th>S
        <td>@Model.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
    </tr>
    <tr>
        <th>Availability Status</th>
        <td>@Model.AvailabilityStatus</td>
    </tr>
    <tr>
        <th>Brand ID</th>
        <td>@Model.BrandID</td>
    </tr>
    <tr>
        <th>Category ID</th>
        <td>@Model.CategoryID</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>@Model.Active</td>
    </tr>
</table>
<a href="/products/index">Back to Products</a>

