﻿@model EFDbFirstApproachExample.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<head>
    <style>
        .form-row {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<h2>Edit Product</h2>
<hr />
<form action="/products/create/@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Product Name</label>
            <input type="text" value="@Model.ProductName" name="ProductName" class="form-control" id="ProductName" placeholder="Product Name" />
        </div>
        <div class="form-group col-md-6">
            <label for="Price">Price</label>
            <input type="number" value="@Model.Price" name="Price" class="form-control" id="Price" placeholder="Price" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOfPurchase">Date of Purchase</label>
            <input type="date" value="@Model.DateOfPurchase.Value.ToString("yyyy-MM-dd")" name="DateOfPurchase" class="form-control" id="DateOfPurchase" placeholder="DateOfPurchase" />
        </div>
        <div class="form-group col-md-6">
            <label for="AvailabilityStatus">Availability Status</label>
            <select class="form-control" id="AvailabilityStatus" name="AvailabilityStatus">
                <option value="@Model.AvailabilityStatus">Please Select</option>
                <option value="InStock">In Stock</option>
                <option value="OutOfStock">Out Of Stock</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @*<label for="CategoryID">Category ID</label>
            <input type="text" value="@Model.CategoryID" name="CategoryID" class="form-control" id="CategoryID" placeholder="Category ID" />*@
            <label for="CategoryID">Category</label>
            <select class="form-control" id="CategoryID" name="CategoryID">
                <option value="">Please Select</option>
                @foreach (var cat in ViewBag.Categories)
                {
                    if (cat.CategoryID == Model.CategoryID) // to show the already saved info 
                    {
                        <option value="cat.CategoryID" selected="selected">@cat.CategoryName</option>
                    }
                    else
                    {
                        <option value="cat.CategoryID">@cat.CategoryName</option>

                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            @*<label for="BrandID">Brand ID</label>
            <input type="text" value="@Model.BrandID" name="BrandID" class="form-control" id="BrandID" placeholder="Brand ID" />*@
            <label for="BrandID">Brand</label>
            <select class="form-control" id="BrandID" name="BrandID">
                <option value="">Please Select</option>
                @foreach (var br in ViewBag.Brands)
                {
                    if (br.BrandID == Model.BrandID) 
                    {
                        <option value="br.BrandID" selected="selected">@br.BrandName</option>
                    }
                    else
                    {
                        <option value="br.CategoryID">@br.BrandName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" name ="Active" type="checkbox" id="Active" checked="@Model.Active" value="true"/>
            <label class="form-check-label" for="Active">Active</label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-danger" href="/products/index">Cancel</a>
</form>
