﻿@using WebApplication1.Models
@model Employee
 
@{
    Layout = null;
} 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("myform"))
        {
            @*using this lambda expression we can send data to the controller (x=>x.property)*@
            <strong>Name : </strong>@Html.TextBoxFor(x => x.Name, new { id="NAME" })
            <br />
            <br />
            <strong>Address : </strong>@Html.TextBoxFor(x => x.Address)
            <br />
            <br />
            <strong>Check : </strong> @Html.CheckBoxFor(x => x.IsEmployee)
            <br />
            <br />
            <input type="submit" value="Submit" />
        }

    </div>
</body>
</html>
