﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="background-color:greenyellow; font-family:'Comic Sans MS'; font-weight:800; font-size:large">
        <h2 style="padding:12px 0px 0px 12px">Unthinkable Solutions ~ @RenderSection("pageName", required: true)</h2>

    </header>
    <div> 
        @RenderBody()
    </div>
    <footer style="background-color:black;font-family:'Comic Sans MS'; font-weight:400; font-size:medium; color:ghostwhite">
            <p style="text-align:justify; padding:12px">More than 100+ companies from all over the globe in verticals such as healthcare, transportation, fintech, and more have trusted Unthinkable as their go-to software developing company to develop amazing products, provide advice and drive results.</p> 
    </footer>
    <div>
        Name - 
        @RenderSection("sectionName", required:false)
    </div>
</body>
</html>
