﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1>Hello, I am Home Controller's Action Method : AboutUs </h1>
    </div>
</body>
</html>