﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello, I am from Home Controller's Index Action Method!</h1>
    </div>
    <div>
        <a href="/Home/AboutUs">About Us</a>
        <h3>Employee Section - </h3>
        <a href="/Employee/Index">Index</a><br>
        <a href="/Employee/AboutUs">About Us</a>
    </div>
</body>
</html>
