﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rename</title>
</head>
<body>
    <div> 
        This is a way of calling views with different names! <br />
        <strong>return View("CustomViewName");</strong>
    </div>
</body>
</html>
