﻿@using ViewEngine1.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:sandybrown; font-size:large; font-weight:700; text-align:center;">
        @{
            var rand = new Random();
            int x = rand.Next(5);
            Employe emp = new Employe() { Id = 1, Name = "Pranshu" };
        }
        @if (x == 0)
        {
            <label >if block executed</label>
        }
        else if (x == 1)
        {
            <label>else if block executed</label>
        }
        else
        {
            <label>else block executed</label>
        }
        <br />
    </div>
    <br>
    <div style="background-color:blueviolet; font-size:large; font-weight:700; text-align:center;">
        @( x % 2 == 0 ?"even":"odd")
    </div>
    // using model data
    <div style="background-color:thistle; font-size:large; font-weight:700; text-align:center;">
        ID : @emp.Id<br />
        Name : @emp.Name<br />
    </div>
</body>
</html>
