﻿@using TemplateHTMLHelpers.Models

@model Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @Html.DisplayName("Id") - @Html.Editor("Id")
        <br />
        <br />
        @Html.DisplayNameFor(x => x.Name) - @Html.EditorFor(x => x.Name)
        <br />
        <br />
        @Html.DisplayNameFor(x => x.Dob) - @Html.EditorFor(x => x.Dob)
        <br />
        <br />
        @Html.DisplayNameFor(x => x.BirthTime) - @Html.EditorFor(x => x.BirthTime)
        <br />
        <br />
        @Html.DisplayNameFor(x => x.PhoneNo) - @Html.EditorFor(x => x.PhoneNo)
        <br />
        <br />
        <hr />
        <h1>Info Gathering Form</h1>
        <hr />
        @using (Html.BeginForm("myForm"))
        {
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
