﻿@using TemplateHTMLHelpers.Models
@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>
@*For method is strongly binded*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .display-label{
            width:160px;
            padding:5px;
            background-color:sandybrown;
            float:left;
            margin: .9px;
        }
        .display-field {
            float: left;
            padding: 5px;
            width: 200px;
            background-color: lightslategray;
            margin: .9px;
        }
    </style>
</head>
<body>
    <div>
        <strong>This in Index page</strong>
        <br />
        <br />
        @Html.DisplayName("Name") @Html.DisplayText("Name")
        <br />
        <br />
        @Html.DisplayNameFor(x => x.Dob) @Html.DisplayTextFor(x=>x.Dob.Date)
        <br />
        <br />
        <hr />
        <hr />
        @Html.DisplayForModel()
        
    </div>
</body>
</html>
