﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h3{
            font-family:Arial, Helvetica, sans-serif;
            font-weight:800;
            background-color:crimson;
            width:150px;
            color:floralwhite;
            text-align:center;
            border-radius:.3rem;
        }
        div{
            align-items: center;
        }
        table{
            
            border:solid;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align:center;
        }
        th{
            background-color:rgb(4 77 251 / 0.52);
        }

    </style>
</head>
<body>
    <div class="main">
        <div class="title">
            <h3>Players List</h3>
        </div>
        <div class="list">
            <table border="1" cellpadding="2" cellspacing="2">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Organisation</th>
                    <th>Role</th>
                </tr>
                @foreach (var p in ViewBag.players)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td><strong>@p.Name</strong></td>
                        <td><img src="~/Content/Images/@p.Photo" width="60"/></td>
                        <td>@p.Org</td>
                        <td>@p.Role</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</body>
</html>
